:root{
    color-scheme: dark;
}
body{
    overflow-x: hidden;
    font-family: 'Comfortaa';
}

.card, .list-group-item{
    background: transparent;
}

.bg-black{
    background-color: rgb(17, 17, 17);
}

.font-Changa{
    font-family: Changa;
}
.font-Changa-One{
    font-family: "Changa One", cursive;
}

.text-cq{
    color:#DE6834;
}
.bg-cq{
    background-color:#DE6834;
}
.border-cq{
    border:1px solid #DE6834
}
.circle-border{
    border:2px dashed #DE6834;
    border-radius:50%;
}
.border-top-cq{
    border-top:1px solid #DE6834;
}
.border-side-cq{
    border-left:1px solid #DE6834;
    border-right:1px solid #DE6834;
}
.list-group-item{
    border:none;
}

.navbar-brand{
    font-size:27px;
}
.navbar-bottom-border{
    border-bottom: 1px solid #DE6834;
}

.big-hero{
    font-size:70px;
}

.v-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.program-text{
    line-height: 40px;
    font-size:20px;
}

.img-bl-text{
    position:absolute;
    font-size:20px;
    bottom:5%;
    left: 20%;
}
.img-tr-text{
    position:absolute;
    font-size:20px;
    top:5%;
    right:15%;
}
.img-center-text{
    position:absolute;    
    top: 22%;
    left: 30%;
}
.dull{
    filter:brightness(30%);
}
.profile-pic{
    width:100%;
    max-width:150px;
    height:auto;
}

@media screen and (min-width:1000px){
    .hover-big{
        transition:0.5s all;
    }
    .hover-big:hover{
        transform:scale(1.1);
    }
    .nav-item:hover{
        transform:scale(1.1);
    }    
    .lil-left{
        position:relative;
        left:8%;
    }
    .lil-right{
        position:relative;
        right:8%;
    }
    .w-90{
        width:90%;
    }
}
@media screen and (max-width:1000px){
    .w-90{
        width:100%;
        margin:0px;
    }
}

.bg-ping{
    background-color: #da58af;
}